@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    /*background-color: black;
    color: white; */
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home {}

.home ul li {
    width: 14px;
    display: flex;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;

}

.invert {
    filter: invert(1);
}

.heading {
     width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 14px;
    padding:23px 14px;
    font-weight: bold;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library{
    min-height: 50vh;
}

.footer {
    display: flex;
    font-size: 10px;
    color:grey;
    gap:13px;

}

.footer a {
    color: grey;
}