*{
    margin:0;
    padding: 0;

}

body {
    /*background-color: black;
    color: white; */
}

.left {
    width: 25vw;
    padding: 34px;
}

.right {
    width: 75vw;
}

.home ul li {
    width: 14px;
    display: flex;
    list-style: none;
    gap: 15px;

}

.invert {
    filter:invert(1);
}